
{{> logo}}


<div class="text-center text-2xl font-bold">
  {{title}}
</div>
<div class="text-center text-sm mb-4 mt-3 text-lime-500">
  {{msg}}
</div>


<div class="w-1/2 mx-auto">
  {{#if showadd}}
  <a href="/add">
    <div class="p-4 text-base text-slate-400 border border-slate-200 border-2 border-dashed rounded-md mb-3 block">
      + Add new recipe
    </div>
  </a>
  {{/if}}

  {{#each recipes}}
  <a href="/v/{{this.username}}/{{this.slug}}">
    <div class="p-4 text-base border border-slate-200 rounded-md mb-3 block">
      {{this.title}}
    </div>
  </a>
  {{/each}}

  {{#unless recipes}}
  <div class="text-base">
    No recipes to show!
  </div>
  {{/unless}}
</div>
