<div class="text-sm text-left mt-10 ml-16 pl-2 mb-4">
{{#if data.bookmarked}}
  <a href="/bookmarks"><< Back to bookmarks</a>
{{else if data.edit}}
  <a href="/"><< Back to home</a>
{{/if}}
</div>

<div class="text-3xl mb-6 font-bold px-6 pb-2">
  {{data.title}}
</div>

<div class="text-sm pb-4">
  {{#if data.edit}}
    <a href="/edit/{{username}}/{{slug}}">
      <div class="rounded-md bg-lime-600 text-white p-3 mr-3 cursor-pointer w-fit inline">Edit</div>
    </a>
    <a onClick="confirmDelete()">
      <div class="rounded-md bg-red-400 text-white p-3 mr-3 cursor-pointer w-fit inline">Delete</div>
    </a>
  {{/if}}

  <a onClick="doShare()">
    <div class="rounded-md bg-blue-400 text-white p-3 mr-3 cursor-pointer w-fit inline">Share</div>
  </a>
  {{#unless data.edit}}
    <a href="/bookmark/{{username}}/{{slug}}">
      {{#if data.bookmarked}}
        <input type="button" value="Bookmarked!" class="rounded-md bg-blue-600 text-white p-3 cursor-pointer">
      {{else}}
        <input type="button" value="Bookmark" class="rounded-md bg-blue-400 text-white p-3 cursor-pointer">
      {{/if}}
    </a>
  {{/unless}}
</div>

<div class="text-sm text-blue-400" id="msg"></div>

{{#if data.image}}
  <img src="/img/recipes/{{data.image}}.jpg" class="w-3/4 rounded-md mx-auto my-6">
{{else}}
  <img src="/img/cutting_board.jpg" class="w-3/4 rounded-md mx-auto my-6">
{{/if}}

<table class="table-fixed w-3/4 mx-auto text-sm">
  <tbody>
    {{#each data.ingredients}}
      <tr>
        <td class="w-1/2 text-right p-3">{{@key}}</td>
        <td class="text-left p-3">{{this}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{#if showhr}}
  <hr class="w-1/2 mx-auto h-px border-slate-400 m-6">
{{/if}}

<table class="max-w-md mx-auto text-sm mb-6">
  <tbody>
    {{#each data.recipe}}
      <tr>
        <td class="pb-3 pr-2 pl-8 align-top">
          <input type="checkbox" class="border-slate-300 hover:border-slate-500 w-8 h-8">
        </td>
        <td class="pb-3 pr-12 text-justify">
          {{this}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<div id="confirmDeleteModal" class="hidden">
  <!-- This example requires Tailwind CSS v2.0+ -->
  <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <!--
        Background overlay, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100"
          To: "opacity-0"
      -->
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

      <!-- This element is to trick the browser into centering the modal contents. -->
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

      <!--
        Modal panel, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
      <div class="relative inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
              <!-- Heroicon name: outline/exclamation -->
              <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
              </svg>
            </div>
            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
              <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">Delete recipe</h3>
              <div class="mt-2">
                <p class="text-sm text-gray-500">Are you sure you want to delete this recipe?</p>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
          <form action="/delete/{{slug}}" method="get">
            <button type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm cursor-pointer" onClick="confirmDelete()">Cancel</button>
            <button type="submit" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm cursor-pointer">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
function confirmDelete() {
  currentState = document.getElementById("confirmDeleteModal").style.display;
  if (currentState == "block") {
    document.getElementById("confirmDeleteModal").style.display = "none";
  } else {
    document.getElementById("confirmDeleteModal").style.display = "block";
  }
}

function doShare(recipe_title) {
  if (navigator.share) {
    navigator.share({
      title: 'Cookbook recipe - ' + recipe_title,
      url: window.location.href,
      text: 'Check out this recipe!'
    })
    .catch(error => {
      console.error(error)
    })
  } else {
    navigator.clipboard.writeText(window.location.href);
    document.getElementById("msg").innerHTML = "Recipe URL copied to clipboard."
  }
}
</script>